<template>
	<lightning-card>
		<div class="slds-custom-toast-container">
			<c-lwc-custom-toast title={toastTitle} message={toastMessage} variant={toastVariant} auto-close={toastAutoClose}
				auto-close-time="5000"></c-lwc-custom-toast>
		</div>

		<!--property format: on<nameCustomEventOnChild>={methodInParent}-->
		<c-demo-first-child onsubmitdataone={submitDataFromChild_Step1} onupdatecustomtoast={handleUpdateCustomToast}></c-demo-first-child>
		<c-demo-second-child onsubmitdatatwo={submitDataFromChild_Step2} onupdatecustomtoast={handleUpdateCustomToast}></c-demo-second-child>
		<c-demo-third-child onsubmitdatathree={submitDataFromChild_Step3} onupdatecustomtoast={handleUpdateCustomToast}></c-demo-third-child>

		<div class="slds-grid slds-grid_align-center floating_buttons">
			<lightning-button variant="destructive" label="Cancelar" title="Cancelar" class="slds-p-around_medium"
				onclick={previouStepHandler}> </lightning-button>
			<lightning-button variant="brand" label="Guardar" title="Guardar" type="submit" class="slds-p-around_medium"
				onclick={handleClickValidate}> </lightning-button>
		</div>
	</lightning-card>
</template>